* {
	border: none;
	border-radius: 0;
	font-family: Roboto;
	font-size: 18px;
	min-height: 0;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
    transition: none;
    color: #7C818C;
    background: #161320;
    padding: 5px;
    border-radius: inherit;
}

#workspaces button.focused {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #ABE9B3;
    background: #7C818C;
}

#workspaces button.urgent {
    color: #ABE9B3;
}

#mode, #window {
    color: #FFFFFF;
}

.modules-right { margin-right: 2px; }

#workspaces, #idle_inhibitor, #pulseaudio, #memory, #temperature, #backlight, #battery, #clock, #tray {
  color: #24273A;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 10px;
  min-width: 40px;
	transition: none;
}

#workspaces { background: #161320; }
#idle_inhibitor { background: #CAD3F5; }
#pulseaudio { background: #8BD5CA; }
#memory { background: #DDB6F2; }
#temperature { background: #F8BD96; }
#backlight { background: #FAE3B0; }
#battery { background: #B5E8E0; }
#clock { background: #ABE9B3; }
#tray { background: #E8A2AF; }
