* {
  font-family: Roboto;
  font-size: 18px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  transition: none;
  color: #7c818c;
  background: #161320;
  padding: 2px;
  border-radius: inherit;
}

#workspaces button.focused {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #abe9b3;
  background: #7c818c;
}

#workspaces button.urgent {
  color: #abe9b3;
}

#mode,
#window {
  color: #ffffff;
  text-shadow: 2px 0px 2px #000000, 0px 2px 2px #000000, -2px 0px 2px #000000,
    0px -2px 2px #000000;
}

.modules-right {
  margin-right: 2px;
}

#workspaces,
#idle_inhibitor,
#pulseaudio,
#memory,
#temperature,
#backlight,
#battery,
#clock,
#tray {
  color: #24273a;
  border-radius: 10px;
  min-width: 40px;
  transition: none;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
}

#workspaces {
  background: #161320;
}
#idle_inhibitor {
  background: #cad3f5;
}
#pulseaudio {
  background: #8bd5ca;
}
#memory {
  background: #ddb6f2;
}
#temperature {
  background: #f8bd96;
}
#backlight {
  background: #fae3b0;
}
#battery {
  background: #b5e8e0;
}
#clock {
  background: #abe9b3;
}
#tray {
  background: #e8a2af;
}
