use flake
if has sops; then
  export TF_ENCRYPTION=$(sops --extract '["tofu"]' -d infra/secrets.yaml)
fi

export SOPS_UPDATEKEYS="find . -regextype egrep -regex '.*secrets\.(yaml|env)' -exec sops updatekeys {} \;"
